*{
  font-family: 'Gentium Plus', serif
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background-color: #121629;
}
::-webkit-scrollbar-thumb{
  background: #a0bbfa;
  border-radius: 10px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  place-content: center;
  background: linear-gradient(90deg, #cfd8ee 0%, #a0bbfa 25%,#90dcf0 50%,#91b2f8 75% ,#c69fe0 100%);
  overflow-x: hidden;
  background-size: 400% 400%;
  animation: anim 12.5s infinite ease-in-out;
}
@keyframes anim{
  0%{
    background-position: 0 50%;
   
  }
  25%{
    background-position: 25% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  75%{
    background-position: 75% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}

#root {
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
  text-align: center;
}
.social{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
  list-style: none;
  width: 100%;
  margin-top: 15rem;
}

